PORT=#Numero de puerto
SECRET_CODE=#Clave almacenamiento MongoStore
URI_MONGODB=#URL de MongoDB
JWT_SECRET=#Clave firma access token
REFRESH_SECRET=#Clave firma refresh token

GITHUB_CLIENT_ID=#Client ID Passport Github Strategy
GITHUB_SECRET_ID=#Secret ID Passport Github Strategy
GITHUB_CALLBACK_URL=#Callback URL Passport Github Strategy